{% extends "base.html" %}
{% load  staticfiles %}
{% block content %}
<body>
	<div class="container">
		<div class="main-header">
			<div class="inner-side">
				<div class="header">
					<div class="head-top">
						<div class="top-menu">
						<span class="menu"><img src="images/nav.png" alt=""/> </span>
							<ul>
								<li><a href="/"><span>Home</span></a></li>
								<li><a href="{% url "about"%}"><span>About us</span></a></li>
								{% if  request.user.id %}
								<li class="active"><a href="/post"><span>发布</span></a></li>
								{%  endif %}
								<li ><a href="/blog"><span>信息</span></a></li>
								<li><a href="typo.html"><span>typo</span></a></li>
								<li class="last"><a href="contact.html"><span>Contact</span></a></li>
								{% if not request.user.id %}
								<li><a href="/login"><span>登录</span></a></li>
								{%  endif %}
								<li><a href="/logout"><span>退出</span></a></li>
								<li><a href="/signup"><span>注册</span></a></li>
								{% if  request.user.id %}
								<li><span>你好:{{user.username}}</span></a></li>
								{%  endif %}
							</ul>
						</div>
						<div class="social-icons">
							<a href="#"><i class="icon1"></i></a>
							<a href="#"><i class="icon2"></i></a>
							<a href="#"><i class="icon3"></i></a>
						</div>	
							<!-- script for menu -->
											
									 <script>
									 $("span.menu").click(function(){
									 $(".top-menu ul").slideToggle("slow" , function(){
									 });
									 });
									 </script>
								<!-- //script for menu -->

						<div class="clearfix"></div>
					</div>
					
				</div>
				<div class="header-banner">
			<h2>发布信息</h2>
			</div>

					<div class="about-section">
						
						<div class="about-grids">
						<div >
               <form class="form-horizontal" id = "form" action="{{path}}" method="post">
                {% csrf_token %}
                        
                        
                  <div class="form-group">
                    <label for="title" class="col-sm-4 control-label">标题* :</label>
                    <div class="col-sm-5">
                    <input type="text" name="title">
                    </div>
                   
                </div>
                 
                 
                
                <div class="form-group ">
                  <label for="content" class="col-sm-4 control-label">内容*:</label>
                  <div class="col-sm-7">
                   <textarea id="content" name="content" placeholder="Your Message to Us" ></textarea>
                  </div>
                  
                </div>
                

                <div class="form-group margint30">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">确认</button>
                  </div>
                </div>
                    

                     
                     
                       
                       
                   
               </form>
           </div>
						
						
					</div>
					</div>
					
					
				
				
					
				<!--start-footer-section-->
				<div class="footer-section">
					<div class="footer-top">
						<p>Copyright &copy; 2015.Company name All rights reserved.More Templates </p>
					</div>
				</div>
	<!--end-footer-section-->
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static "tinymce_4.5.0/jquery.tinymce.min.js" %}"></script>
<script type="text/javascript" src="{% static "tinymce_4.5.0/tinymce.min.js" %}"></script>
<script language="javascript" type="text/javascript">
tinymce.init({
    selector: '#content',
    menubar : false,
mode :"exact",
elements:"content",
autoresize_min_height:300,
nowrap : false ,
language : 'zh_CN',
relative_urls : false,
remove_script_host : true,
default_link_target: "_blank",
plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
         "searchreplace  visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
         "save  contextmenu directionality emoticons template  textcolor",
         "paste autoresize media codesample",
   ],



   toolbar: "insertfile undo redo |  bold italic forecolor | alignleft aligncenter alignright alignjustify | link image |  code  preview  |  codesample", 



  });



</script>
 </body>
</html> 
{% endblock %}